/* Day 27 */

/*초기화*/
* { /*모든 영역 마진과 패딩 0 필요시 각각의 클래스로 조절해줌*/
    margin: 0px; padding: 0px;
}
/*  body, a, ... 선택자
    태그 선택자 : 태그명 그대로 사용
    클래스 선택자 : .클래스명
    id 선택자 : #아이디명
*/
body {  /*속성 : 값;*/
    width: 960px;       /*12로 나눠떨어지는 값으로 보통 정함*/
    margin: 0px auto;   /*가운데 정렬*/
}
a { /*하이퍼링크 밑줄, 색깔 삭제*/
    text-decoration: none;  /*밑줄 윗줄 중간줄*/
    color: black;
}
a.visited { /*하이퍼링크 한번 방문 후 상태*/
    text-decoration: none;
    color: black;
}
ul {
    margin: 0px; 
    padding:0px;
}
li {    /*땡땡이 없앰*/
    list-style: none;
}
img {
    border: 0px;
    margin: 0px;
    padding: 0px;
}